<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^feeds/view/([^/.]+) index_rss.php [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>