app/config/database.php
app/config/core.php
app/webroot/upload/files/*
app/webroot/cgi-bin/*
app/webroot/.htaccess
.htaccess
*.swp
app/tmp/*
app/webroot/rss/*
/.project
/.buildpath
/.settings/org.eclipse.php.core.prefs
/app/webroot/rss
/app/webroot/upload/call_fc.php
