div.tabs > div > {
	height: 150px;	
}
div.tabs > div > a {
    background: url(/img/collection-tab-background-unselected.png) repeat-x 0 0 rgb(245,250,252)!important;
	color: #ff0000!important;
    /*border-bottom: medium none;*/
}
