@charset "utf-8";
/* CSS Document */

/*Tabbed interface - Collection*/

div.tab-zone {
    /*border: 1px dotted #660033;*/
    margin: 2em 0em 0em 0em;

}

div.items p:not(:target) {
    display: none;
	}

div.items p:target {
    display: block;
	}

div.tabs {
    /*line-height: 1;*/
	height: 50px;
	background: rgb(222,240,249) url(/img/collection-background.png) top left repeat-x;
    position: relative;
    z-index: 0;
	width: auto;
	}
	

div.tabs > div {
    float:left;
	/*display: inline;
	border: 1px solid red;*/
	padding: 0;
	margin: 0;
	margin-top: 10px;
	}

div.tabs > div > a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgb(245,250,252);
    border-left-color: rgb(245,250,252);
	border-right-color: rgb(186,214,237);
    border-style: none solid;
    border-width: 0.1em;
    padding: 0.6em;
	}

div.tabs > div:not(:target) > a {
    background: url(/img/collection-tab-background-unselected.png) repeat-x 0 0 rgb(245,250,252);
    /*border-bottom: medium none;*/
	}

div.tabs > div:target > a, *:target #summary > a {
    background: rgb(245,250,252);
    /*border-bottom: 0.1em solid red;*/
	}

div.tab-zone + div  {
	
    /*border: 1px dotted #660033;*/
	margin: 0px;
    background: rgb(222,240,249) url(/img/collection-background.png) top left repeat-x;
	padding: 15px;	
}


div.tabs > div:not(:target) > div {
    position: absolute;
	}

div.tabs > div:target > div, *:target #summary > div {
    position: absolute;
    z-index: -1;
	}

div.tabs *:target {
    outline: medium none;
	}

/*End of tabbed interface - Collection*/	

/* Tab-Button additions for main style sheet*/

.collection_tab_itunes-icon	{
	background:url(/img/icon-16-itunes.png) no-repeat 2px center;
	padding: 2px 2px 2px 22px!important;
	}
	
.collection_tab_youtube-icon	{
	background:url(/img/icon-16-youtube.png) no-repeat 2px center;
	padding: 2px 2px 2px 22px!important;
	}
	
.collection_tab_media-icon	{
	background:url(/img/media.png) no-repeat 2px center;
	padding: 2px 2px 2px 22px!important;
	}
	
.collection_tab_track-icon	{
	background:url(/img/track.png) no-repeat 2px center;
	padding: 2px 2px 2px 22px!important;
	}
	
.collection_tab_summary-icon	{
	background:url(/img/info.png) no-repeat 2px center;
	padding: 2px 2px 2px 22px!important;
	}

/*--/Tab-Button additions for main style sheet*/

#outer-content {
	
	margin-top: 10px;

}