@charset "utf-8";
/* CSS Document */

fieldset {
	position:relative; 
	display:block; 
	margin: 0; 
	padding: 20px;
	margin-top: 20px;
	}

/*fieldset legend {
	display:block; 
	margin:20px 0 0 20px; 
	padding:0;
	}

fieldset legend span { 
	position: absolute; 
	margin:0; 
	padding:0;
	}*/

	
legend h3 {
	display:block;
	position: absolute;
	font-style:normal;
	margin: 18px 0px 20px 64px;
	}
	
@-moz-document url-prefix() {
    legend h3 { left:5px; } /*Corrects an error in FF placement of page legend*/
	}


.leader	{
	display:block;
	position:absolute;
	margin: 05px 0px 0 64px;
	padding:20px 0 0 0px;
	}
	
@-moz-document url-prefix() {
    .leader { margin-left: 68px; } /*Corrects an error in FF placement of page leader*/
	}

.collection-top {margin: 30px 0 0 0; width: 100%;}

.collection-top .left {float:left;}

.collection-top .right {float:right; text-align:right}

.clear {clear:both;}

h3 a {text-decoration: none; font-weight:bold;}
h3 a:hover {text-decoration: underline;}

.icon {margin:0px 5px 2px 2px;padding-bottom:1px;vertical-align:middle;}

.button {background: none; border: 0; vertical-align:middle;margin-right:10px;}


.button:hover {text-decoration:underline;}

.podcast-owner {
	font-style: italic;
	color: #4492b0;}

/*Background colours*/

.white {background-color:#fff;}

.off-black {background-color:#1a1a1a;color: #fff;}

.blue {
	background-color: #003d4c;
	color: #fff;
	border: 1px solid #003d4c;
	border-radius: 4px;
	padding: 2px;
	}
	
.blue:hover {color: #fff;}

.light-blue	{
	background-color: #418db1;
	color: #fff;
	border: 1px solid #418db1;
	border-radius: 4px;
	padding: 2px 4px 2px 2px;
	}
	
.light-blue:hover {color: #fff;}

#admin_panel	{
	margin-bottom:0;
	border:0;
	padding:20px 10px 20px 50px;
	}

#admin_panel legend	{
	margin-top:20px;	
	}

.footer-panel	{
	background: #ececed; 
	margin: 10px -20px 0 -20px;
	padding-bottom:-32px;	
	}
	
.dashboard-user-panel	{
	border-radius: 4px;
	border:1px solid #ccc;
	margin:20px 20px 0 0;
	}
	
.dashboard-user-panel img	{
	margin: 10px;
	}

.dashboard-user-panel ul {
	margin:0;
	padding:0;
	list-style:none;
	}
	
.dashboard-user-panel li {
	display:block;	
}

.dashboard-user-panel-title	{
	font-size:1.2em;
	height: 64px;
	line-height:64px;
	float:right;
	margin:10px 20px 0 0 ;
	}

.two-column-controls	{
	border:0px dotted blue;
	margin-left:55px;	
}

.two_column dt 	{
	border-bottom: 1px solid #fff;	
}

.two_column dt:last-of-type 	{
	border-bottom: 0px solid red;
}

.icon-col	{
	margin: 0 auto;	
}

.available	{
	background-color: #f5f5f6;	
}

.auto_select_and_submit		{
	margin: 25px 0;	
}

.form_title	{
	margin: 25px 0 0 0;	
}